app-generic-table ::ng-deep .only-padding-top {
  padding: .5em 0 0 0 !important;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.buttons-right {
  height: 3em;
  float: right;
}

.margin-bottom {
    margin-bottom: 15px;
}

