<ng-template #tableContent let-address="rowData">
  <td>{{address.companyName}}</td>
  <td>{{address.personName}}</td>
  <td>{{address.email}}</td>
  <td>{{address.phone}}</td>
</ng-template>
<div class="margin-bottom">
  <div class="ui-g-12 ">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-g-nopad">
        <p-panel [toggleable]="true" class="addressee-panel"
                 header="{{'ADMINISTRATIVE.DOCUMENTS.DETAIL.DOCUMENT.ADDRESSEES.Header' | translate}}">
          <div class="ui-g">
            <app-generic-table-lazy #addressTable [elements$]="addressees$" [templateRef]="tableContent">
            </app-generic-table-lazy>
          </div>
          <div class="clearfix no-padding no-margin">
            <form [formGroup]="formDetail" class="ui-g-12 ui-g-nopad">
              <div class="ui-g">
                <!-- TODO CSPROC-1719 Include detail-->
              </div>
            </form>
            <div class="ui-g ui-g-nopad buttons-right">
              <div class="ui-g ui-fluid">
                <div class="clearfix ui-g-12 nopad">
                  <div class="ui-g-6">
                    <button type="button" pButton icon="pi pi-check" (click)="save()"
                            label="{{'COMMON.BUTTONS.Save' | translate}}"></button>
                  </div>
                  <div class="ui-g-6">
                    <button type="button" pButton icon="pi pi-close" (click)="reset()"
                            label="{{'COMMON.BUTTONS.Cancel' | translate}}" class="ui-button-secondary"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>
