<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="ui-g-4">
      <label for="status">{{ 'CONTRACT.status' | translate}}</label>
    </div>
    <div class="ui-g-8">
      <p-dropdown id="status" class="ui-state-filled ui-inputwrapper-focus"
                  [placeholder]="'Select option'" [options]="options" (onChange)="config.data.onChange($event)">
      </p-dropdown>

    </div>
  </div>
</div>
<div class="pad margin-top children-padding">
  <div class="float-right">
    <app-button icon="ui-icon-close" label="COMMON.BUTTONS.Cancel" (click)="cancel()"></app-button>
  </div>
  <div class="float-right">
    <app-button icon="ui-icon-check" label="COMMON.BUTTONS.Save" (click)="config.data.save(this.ref)"></app-button>
  </div>
</div>
