<div style="margin-top: 0.1em">

  <p-card>
    <div class="layout-breadcrumb">
      <ul>
        <li>
          <a routerLink="/home" title="{{ 'PAGE_SPECIFIC.Home' | translate }}">
            <i class="material-icons">home</i>
          </a>
        </li>
        <li>/</li>
        <ng-template ngFor let-item let-last="last" [ngForOf]="items">
          <li>
            <a [routerLink]="item.routerLink" *ngIf="item.routerLink">{{ item.label }}</a>
            <ng-container *ngIf="!item.routerLink">{{ item.label }}</ng-container>
          </li>
          <li *ngIf="!last">/</li>
        </ng-template>
      </ul>
    </div>
  </p-card>
</div>

