<!--TODO move styles to css-->
<!-- TODO use margin in a section wrapping p-card instead of using empty div -->
<div style="margin-top: 0.5em">

</div>
<p-card>
  <div>
    {{ appVersion }} &#183;
    <!-- TODO best if this hardcoded text and year are somewhere in configuration-->
    Cipal Schaubroeck NV &#183;
    <span class="material-icons ui-icon-copyright" style="vertical-align: bottom;"></span> 2019
  </div>
</p-card>
