<form *ngIf="this.form" [formGroup]="form">

  <p-scrollPanel>
    <div class="margin-top">
        <span class="ui-float-label">
          <p-calendar appendTo="body" id="deadline" [showIcon]="true"
                      formControlName="deadline" showButtonBar="true"></p-calendar>
          <label for="deadline">{{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.columns.deadline' | translate}}</label>
        </span>
    </div>

    <div class="margin-top">
      <p-multiSelect [displaySelectedLabel]="true"
                     defaultLabel="{{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.selectInsuredParty' | translate}}"
                     formControlName="insuredParty" id="insuredParty"
                     [options]="insuredPartyOptions"
                     name="insuredParty" [style]="{'width': '95%'}"
                     [panelStyle]="{minWidth:'90%'}"
                     [filter]="false"
                     scrollHeight="300px" appendTo="body">

        <ng-template let-option pTemplate="selectedItem">
          {{option['label'] |translate}}
        </ng-template>
        <ng-template let-option pTemplate="item">
          {{option['label'] |translate}}
        </ng-template>
      </p-multiSelect>
    </div>

    <div class="margin-top clear">
      <span class="ui-float-label input-width">
        <input formControlName="policyType" id="policyType" type="text" pInputText class="input-width">
        <label for="policyType">{{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.columns.policyType' | translate}}</label>
      </span>
    </div>

    <div class="margin-top clear">
      <span class="ui-float-label input-width">
        <textarea class="input-width text-area-border" id="subject" formControlName="subject" rows="10" cols="30"
                  pInputTextarea></textarea>
        <label for="subject">{{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.columns.subject' | translate}}</label>
      </span>
    </div>
  </p-scrollPanel>
  <div class="footer">
    <button type="ngSubmit" pButton icon="pi pi-check" class="float-right-add-edit-insurance margin-left-insurance"
            label="{{'COMMON.BUTTONS.Save' | translate}}" [disabled]="!form.valid" (click)="save()"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancel()"
            label="{{'COMMON.BUTTONS.Cancel' | translate}}"
            class="ui-button-secondary float-right-add-edit-insurance"></button>
  </div>
</form>


