.innerMargin span {
    margin: 20px;
}

.margin-top {
    margin-top: 35px;
}

.input-width {
    width: 100%;
}

.text-area-border {
    border: 1px solid grey;
}

.centered {
    margin: 0 auto;
}

.float-right-add-edit-insurance {
    float: right;
}

.margin-left-insurance {
    margin-left: 5%;
}

.height {
    height: 200px;
}

.errorLabel {
    margin-top: -15px !important;
    position: absolute;
    right: 20%;
}
