.margin {
  margin: 2.5% 0 0 2%;
}

.margin_grp2 {
  margin: 2.5% 0 0 16%;
}

.margin_grp3 {
  margin: 2.5% 0 0 2.5%;
}

.margin-top {
  margin-top: 2.5%;
}

.margin-left {
  margin-left: 2%;
}

.line {
  display: inline-block
}

.input_width {
  width: 100%;
}

.container_one_width {
  width: 92.5%;
}

.container_two_width {
  width: 45%;
}

.container_three_width {
  width: 15.5%;
}

.container_four_width {
  width: 57.5%;
}

.container_five_width {
  width: 75%;
}

.float-right {
  float: right;
}

.errorLabel {
  position: absolute;
  margin-top: -30px !important;
  right: 0;
}

.smeErrorLabel {
  position: absolute;
}

.errorLabelPostalCode {
  margin-top: -30px !important;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-left: -115px;
}

.title {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}

.ui-datatable-data > tr > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
