<p-scrollPanel [style]="{width: '100%', height: '100%'}">
  <form [formGroup]="organizationDataForm" (ngSubmit)="onSubmit()" class="innerMargin overflow">

  <span class="ui-float-label title">
    {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.organizationTitle' | translate}}
  </span>

    <span class="ui-float-label margin line container_one_width">
    <input name="name" formControlName="name" id="name" type="text"
           pInputText class="input_width">
    <label
      for="name">{{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.name' | translate}}</label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['name']
                && !organizationDataForm.controls['name'].valid && organizationDataForm.controls['name'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label line margin container_two_width">
    <input name="nationalId" formControlName="legalForm" id="legalForm" type="text"
           pInputText class="input_width">
    <label
      for="legalForm">{{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.legalForm' | translate}}</label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['legalForm']
                && !organizationDataForm.controls['legalForm'].valid && organizationDataForm.controls['legalForm'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="margin_grp2 container_two_width">
    <label for="sme">{{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.sme' | translate}}
    </label>
    <p-checkbox name="sme" formControlName="sme" id="sme" binary="true" (click)="checked = !checked"> </p-checkbox>

    <p-message class="smeErrorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['sme']
                && !organizationDataForm.controls['sme'].valid && organizationDataForm.controls['sme'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin line container_two_width">
    <input name="kboNumber" formControlName="kboNumber" id="kboNumber" type="text" pInputText class="input_width">
    <label for="kboNumber">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.kboNumber' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['kboNumber']
                && !organizationDataForm.controls['kboNumber'].valid && organizationDataForm.controls['kboNumber'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin_grp3 line container_two_width">
    <input name="vatNumber" formControlName="vatNumber" id="vatNumber" type="text" pInputText class="input_width">
    <label for="vatNumber">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.vatNumber' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['vatNumber']
                && !organizationDataForm.controls['vatNumber'].valid && organizationDataForm.controls['vatNumber'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin line container_four_width">
    <input name="street" formControlName="street" id="street" type="text" pInputText class="input_width">
    <label for="street">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.street' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['street']
                && !organizationDataForm.controls['street'].valid && organizationDataForm.controls['street'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin line container_three_width">
    <input name="number" formControlName="number" id="number" type="text" pInputText class="input_width">
    <label for="number">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.number' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['number']
                && !organizationDataForm.controls['number'].valid && organizationDataForm.controls['number'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin line container_three_width">
    <input name="box" formControlName="box" id="box" type="text" pInputText class="input_width">
    <label for="box">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.box' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['box']
                && !organizationDataForm.controls['box'].valid && organizationDataForm.controls['box'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin line container_three_width">
    <input name="postalCode" formControlName="postalCode" id="postalCode" type="text" pInputText class="input_width">
    <label for="postalCode">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.postalCode' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['postalCode']
                && !organizationDataForm.controls['postalCode'].valid && organizationDataForm.controls['postalCode'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin line container_five_width">
    <input name="municipality" formControlName="municipality" id="municipality" type="text" pInputText
           class="input_width">
    <label for="municipality">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.municipality' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['municipality']
                && !organizationDataForm.controls['municipality'].valid && organizationDataForm.controls['municipality'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin line container_one_width">
   <p-dropdown name="country" [autoDisplayFirst]="false" formControlName="country"
               [options]="countries" id="country" [style]="{'width': '100%'}" [showClear]="true">
      <ng-template let-option pTemplate="selectedItem">
        {{option['label'] |translate}}
      </ng-template>-->
      <ng-template let-option pTemplate="item">
        {{option['label'] |translate}}
      </ng-template>
   </p-dropdown>
    <label
      for="country">{{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.country' | translate}}</label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['country']
                && !organizationDataForm.controls['country'].valid && organizationDataForm.controls['country'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin line container_one_width">
    <input name="email" formControlName="email" id="email" type="text"
           pInputText class="input_width">
    <label
      for="email">{{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.email' | translate}}</label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['email']
                && !organizationDataForm.controls['email'].valid && organizationDataForm.controls['email'].dirty"
               [text]="getErrorList('email') | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin line container_one_width">
    <input name="website" formControlName="website" id="website" type="text"
           pInputText class="input_width">
    <label
      for="website">{{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.website' | translate}}</label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['website']
                && !organizationDataForm.controls['website'].valid && organizationDataForm.controls['website'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin line container_two_width">
    <input name="phone" formControlName="phone" id="phone" type="text" pInputText class="input_width">
    <label for="phone">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.phone' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['phone']
                && !organizationDataForm.controls['phone'].valid && organizationDataForm.controls['phone'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin_grp3 line container_two_width">
    <input name="fax" formControlName="fax" id="fax" type="text" pInputText class="input_width">
    <label for="fax">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.fax' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="organizationDataForm && organizationDataForm.controls['fax']
                && !organizationDataForm.controls['fax'].valid && organizationDataForm.controls['fax'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label margin-top title">
    {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.contactsTitle' | translate}}
  </span>

    <ng-template #tableContent let-contact="rowData">
      <td>{{contact['person']['firstName']}} {{contact['person']['familyName']}}</td>
      <td>{{contact['function']}}</td>
      <td>{{contact['person']['contact']['email']}}</td>
      <td>{{contact['person']['contact']['phoneNumber']}}</td>
    </ng-template>

    <app-generic-table [buttons]="buttons" [tableConfig]="tableConfig" [columns]="cols"
                       [elements$]="data" [selected$]="selected$" [templateRef]="tableContent">
    </app-generic-table>

    <div class="footer margin-top ">
      <div class="card clearfix">
        <button type="ngSubmit" pButton icon="pi pi-check" class="float-right margin-left"
                label="{{'COMMON.BUTTONS.Save' | translate}}" [disabled]="!organizationDataForm.valid"></button>
        <button type="button" pButton icon="pi pi-close" (click)="cancel()"
                label="{{'COMMON.BUTTONS.Cancel' | translate}}"
                class="ui-button-secondary float-right margin-left"></button>
      </div>
    </div>

  </form>
</p-scrollPanel>
