<div class="topbar clearfix" (click)="app.onTopBarMenuButtonClick($event)">
  <a routerLink="/home" title="{{ 'PAGE_SPECIFIC.Home' | translate }}">
    <div class="logo-container">
      <div class="logo">
      </div>
    </div>
  </a>
  <div>
    <p-toolbar>
      <div class="margin-top">
        <div class="ui-toolbar-group-left">
        </div>

        <div class="ui-toolbar-group-right">
          <p-menu #menu [popup]="true" [model]="items" [style]="{'width':'250px'}"></p-menu>
          <button type="button" label="admin_tenant" pButton icon="pi pi-bars" iconPos="right"
                  class="margin-top margin-right" (click)="menu.toggle($event)"></button>
          <ul class="topbar-items animated fadeInDown"
              [ngClass]="{'topbar-items-visible': app.topBarMenuActive}">

            <!-- Choose language -->
            <li #language [ngClass]="{'active-top-menu':app.activeTopBarItem === language}">
              <a href="javascript:void(0);" (click)="app.onTopBarItemClick($event,language)"
                 title="{{ 'TOP_BAR.ChangeLanguage' | translate }}">
                <i class="topbar-icon material-icons">flag</i>
                <span class="topbar-item-name" [translate]='"TOP_BAR.ChangeLanguage"'></span>
              </a>
              <ul class="ultima-menu animated fadeInDown">
                <li role="menuitem" *ngFor="let lang of translateService.getLangs()">
                  <a href="javascript:void(0);" (click)="changeLanguage(lang)">
                    <i class="material-icons"
                       [ngClass]="{'selected-lang':translateService.currentLang === lang}">flag</i>
                    <span>{{ lang }}</span>
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </p-toolbar>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
