.logo {
  background-size: 65px 30px !important;
}

.logo-container {
  box-sizing: border-box;
  padding: 20px;
  height: 75px;
  width: 250px;
  float: left;
}

.margin-top {
  margin-top: 10px;
}

.margin-right {
  margin-right: 10px;
}
i.material-icons.selected-lang {
  color: #2F2484;
}

