<div class="ui-g-12">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <p-panel [toggleable]="true" header="{{'ADMINISTRATIVE.DOCUMENTS.DETAIL.EMAIL.COMMUNICATION.Header' | translate}}">
        <div class="ui-g">
          TODO Content for communication
        </div>
      </p-panel>
    </div>
  </div>
</div>
