<div class="p-grid center-screen overflow">
  <div class="p-col-3">
    <div class="shadow-box height">
      <p-scrollPanel [style]="{width: '100%', height: '98%'}" styleClass="custom">
        <div class="header-button-margin" *ngIf="hasButton()">
          <button pButton type="button" label="{{'GENERIC_TREE.BUTTONS.ExpandAll' | translate }}"
                  (click)="expandAll()" style="margin-right: .25em"></button>
          <button pButton type="button" label="{{'GENERIC_TREE.BUTTONS.CollapseAll' | translate }}"
                  (click)="collapseAll()"></button>
        </div>
        <div class="tree-margin">
          <div class="ui-g-12">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12 ui-g-nopad">
                <p-tree [value]="data" selectionMode="single" [(selection)]="selectedFile"
                        (onNodeSelect)="nodeSelect($event)" selection>
                  <ng-template let-node pTemplate="default" type="text">
                    <div class="relative-children">
                      {{node['label']}} <span class="ui-menuitem-icon {{node['statusIcon']}} align-right"></span>
                    </div>
                  </ng-template>
                  <ng-template let-node pTemplate="header">
                    <div class="relative-parent">
                      {{node['label']}} <span class="ui-menuitem-icon {{node['statusIcon']}} align-right"></span>
                    </div>
                  </ng-template>
                </p-tree>
              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
  </div>

  <div class="p-col-7 overflow">
    <div class="shadow-box height overflow">
      <p-scrollPanel [style]="{width: '100%', height: '99.9%'}">
        <router-outlet></router-outlet>
      </p-scrollPanel>
    </div>
  </div>
</div>

