.shadow-box {
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  box-shadow: 10px 10px 5px #888888;
  width: 100%;
  height: 100px;
  overflow: auto;
  display: block;

}

.height {
  height: 72vh;
}

/**
 * removes border from the tree component
 */
body .ui-widget-content {
  border: 0 !important;
}

/**
centers div in the middle
 */
.center-screen {
  display: flex;
  justify-content: center;
  min-height: 72vh;
}

.header-button-margin {
  margin: 5% 0 0 10%;
}

.tree-margin {
  margin: 5% 0 0 5%;
}

.width {
  width: 800px;
}

.align-right {
  position: absolute;
  right: 0;
  font-size: 19px !important;
}

.relative-children {
  position: relative;
  width: 205px;
}

.relative-parent {
  position: relative;
  width: 225px;
}

.custom .ui-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}

.custom .ui-scrollpanel-bar {
  background-color: darkgrey;
  //opacity: 1;
  transition: background-color .3s;
}

.custom .ui-scrollpanel-bar:hover {
  background-color: grey;
}

.custom {
  overflow-x: hidden;
}



