<ng-template #tableContent let-eleme="rowData">
  <td>{{eleme['refNumber']}}</td>
  <td>{{eleme['deadline']}}</td>
  <td>{{eleme['insuredParty']}}</td>
  <td>{{eleme['policyType']}} </td>
  <td>{{eleme['subject']}}</td>
</ng-template>
<ng-template #caption>
  <span>{{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.caption' | translate}}</span>
</ng-template>
<app-generic-table-lazy [elements$]="elements" [templateRef]="tableContent" [captionTemplateRef]="caption">
</app-generic-table-lazy>
