.form-group {
    margin: 2.5% 0 0 2%;
    display: inline-block;
}

.input_width {
    width: 100%;
}

.container_full_width {
    width: 92.5%;
}

.container_short {
    width: 15.5%;
}

.container_60_width {
    width: 57.5%;
}

.container_75_width {
    width: 75%;
}

.errorLabel {
    position: absolute;
    margin-top: -30px !important;
    right: 0;
}

.title {
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
}

.footer-buttons {
    float: right;
    margin-left: 2%;
}