<p-scrollPanel [style]="{width: '100%', height: '100%'}">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="innerMargin overflow">

  <span class="ui-float-label title">
    {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.organizationTitle' | translate}}
  </span>

    <span class="ui-float-label form-group container_full_width">
    <input name="name" formControlName="name" id="name" type="text"
           pInputText class="input_width">
    <label
      for="name">{{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.name' | translate}}</label>
    <p-message class="errorLabel" severity="error"
               *ngIf="form && form.controls['name']
                && !form.controls['name'].valid && form.controls['name'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label form-group container_60_width">
    <input name="street" formControlName="street" id="street" type="text" pInputText class="input_width">
    <label for="street">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.street' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="form && form.controls['street']
                && !form.controls['street'].valid && form.controls['street'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label form-group container_short">
    <input name="number" formControlName="number" id="number" type="text" pInputText class="input_width">
    <label for="number">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.number' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="form && form.controls['number']
                && !form.controls['number'].valid && form.controls['number'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label form-group container_short">
    <input name="box" formControlName="box" id="box" type="text" pInputText class="input_width">
    <label for="box">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.box' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="form && form.controls['box']
                && !form.controls['box'].valid && form.controls['box'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label form-group container_short">
    <input name="postalCode" formControlName="postalCode" id="postalCode" type="text" pInputText class="input_width">
    <label for="postalCode">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.postalCode' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="form && form.controls['postalCode']
                && !form.controls['postalCode'].valid && form.controls['postalCode'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label form-group container_75_width">
    <input name="municipality" formControlName="municipality" id="municipality" type="text" pInputText
           class="input_width">
    <label for="municipality">
      {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.municipality' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="form && form.controls['municipality']
                && !form.controls['municipality'].valid && form.controls['municipality'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

    <span class="ui-float-label form-group container_full_width">
     <p-dropdown name="country" [autoDisplayFirst]="false" formControlName="country"
                 [options]="countries" id="country" [style]="{'width': '100%'}" [showClear]="true">
        <ng-template let-option pTemplate="selectedItem">
          {{option['label'] |translate}}
        </ng-template>-->
        <ng-template let-option pTemplate="item">
          {{option['label'] |translate}}
        </ng-template>
     </p-dropdown>
      <label
        for="country">{{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.ADD_EDIT_ORGANIZATIONS.country' | translate}}</label>
      <p-message class="errorLabel" severity="error"
                 *ngIf="form && form.controls['country']
                  && !form.controls['country'].valid && form.controls['country'].dirty"
                 [text]="'VALIDATIONS.Required' | translate">
      </p-message>
    </span>

    <span class="ui-float-label form-group container_full_width">
      <p-dropdown id="mainContact" name="mainContact" formControlName="mainContact"
                  [options]="availableContacts" [showClear]="true"
                  [style]="{'width':'100%'}">
      </p-dropdown>
      <label for="mainContact">
        {{ 'CONTRACT.AUTHORITY.QUALIFIED_PERSONS_TABLE.mainContact' | translate}}
      </label>
    </span>

    <span class="ui-float-label form-group container_full_width">
      <app-joint-venture-members #members
                                 (memberAdded)="onMemberAdded($event)"
                                 (memberRemoved)="onMemberRemoved($event)">
      </app-joint-venture-members>
    </span>

    <div class="footer" style="margin-top: 2.5%">
      <div class="card clearfix">
        <button type="submit" pButton icon="pi pi-check" class="footer-buttons"
                label="{{'COMMON.BUTTONS.Save' | translate}}" [disabled]="!form.valid"></button>
        <button type="button" pButton icon="pi pi-close" (click)="cancel()"
                label="{{'COMMON.BUTTONS.Cancel' | translate}}"
                class="ui-button-secondary footer-buttons"></button>
      </div>
    </div>

  </form>
</p-scrollPanel>
