.margin-top {
    margin-top: 35px;
}

.float-right-add-edit-insurance {
    float: right;
}

.errorLabel {
    margin-top: -15px !important;
    position: absolute;
    right: 20%;
}

.errorLabel1 {
    margin-top: -15px !important;
    position: absolute;
    right: 30%;
}
