<div>
  <form *ngIf="this.form" [formGroup]="form">

    <p-scrollPanel>
      <div class="margin-top">
        <p-message class="errorLabel1" severity="error"
                   *ngIf="Utils.isValid('reminderDate', form)"
                   [text]="'VALIDATIONS.Required' | translate">
        </p-message>
        <span class="ui-float-label">
          <p-calendar appendTo="body" id="reminderDate" [showIcon]="true"
                      formControlName="reminderDate" showButtonBar="true"></p-calendar>
          <label for="reminderDate">
            {{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.columns.reminderDate' | translate}}
          </label>
        </span>
      </div>
      <div class="margin-top ui-float-label">
        <p-message class="errorLabel" severity="error"
                   *ngIf="Utils.isValid('refNum', form)"
                   [text]="'VALIDATIONS.Required' | translate">
        </p-message>

        <p-dropdown formControlName="refNum" id="refNum"
                    [autoDisplayFirst]="false"
                    [options]="insuredPartyOptions"
                    name="refNum" [style]="{'width': '50%'}"
                    [panelStyle]="{minWidth:'300px'}"
                    [filter]="false"
                    scrollHeight="300px">
          <ng-template let-option pTemplate="selectedItem">
            {{option['label'] |translate}}
          </ng-template>
          <ng-template let-option pTemplate="item">
            {{option['label'] |translate}}
          </ng-template>
        </p-dropdown>
        <label for="refNum">
          {{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.columns.refNum' | translate}}
        </label>
      </div>

      <div class="margin-top ui-float-label">

        <p-multiSelect [displaySelectedLabel]="true"
                       defaultLabel="{{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.selectDocument' | translate}}"
                       formControlName="documentLinks" id="documentLinks"
                       [options]="documentLinksOptions"
                       name="documentLinks" [style]="{'width': '90%'}"
                       [panelStyle]="{minWidth:'90%'}"
                       [filter]="false"
                       scrollHeight="300px" appendTo="body">

          <ng-template let-option pTemplate="selectedItem">
            {{option['label'] |translate}}
          </ng-template>
          <ng-template let-option pTemplate="item">
            {{option['label'] |translate}}
          </ng-template>
        </p-multiSelect>
        <label for="documentLinks">
          {{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.columns.documentLinks' | translate}}
        </label>
      </div>
    </p-scrollPanel>
    <div class="footer">
      <button type="ngSubmit" pButton icon="pi pi-check" class="float-right-add-edit-insurance margin-left-insurance"
              label="{{'COMMON.BUTTONS.Save' | translate}}" [disabled]="!form.valid" (click)="save()"></button>
      <button type="button" pButton icon="pi pi-close" (click)="cancel()"
              label="{{'COMMON.BUTTONS.Cancel' | translate}}"
              class="ui-button-secondary float-right-add-edit-insurance"></button>
    </div>
  </form>
</div>
