<!--
  Dialog that pops up when submitting [(visible)] triggerDialog
  @Input/@Output triggerDialog is the trigger variable that toggles the dialog
  @Input() [bodyRef] is the template that is going to be projected in the dialog
  @input() [headerText] is text shown in the header.
-->
<p-dialog [style]="{width: '300px'}" [contentStyle]="{'overflow':'visible'}"
          [header]="headerText | translate" [(visible)]="triggerDialog" (onHide)="cancel()"
          [responsive]="true" [modal]="false" [closeOnEscape]="true">
  <ng-template [ngTemplateOutlet]="bodyRef"></ng-template>
</p-dialog>
