<form [formGroup]="insurancesForm" (ngSubmit)="onSubmit()" class="innerMargin overflow">
  <div class="margin-top clear">
    <div class="form-group">
      <div class="ui-g">
        <div class="ui-g-12">
          <p-radioButton name="insurance"
                         value="false"
                         formControlName="insurance"
                         label="{{'CONTRACT.INSURANCES.NO_INSURANCES' | translate}}">
          </p-radioButton>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <p-radioButton name="insurance"
                         value="true"
                         formControlName="insurance"
                         label="{{'CONTRACT.INSURANCES.WITH_INSURANCES' | translate}}">
          </p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <span class=" margin-top button-margin-left">
      <button type="submit" pButton icon="ui-icon-save" class="float-right margin-left"
              label="{{'COMMON.BUTTONS.Save' | translate}}" [disabled]="!insurancesForm.valid"></button>
  </span>
</form>
