.innerMargin span {
    margin: 20px;
}

.margin-left {
    margin-left: 20px;
}

.button-margin-left {
    margin-left: 80% !important;
}

.margin-top {
    margin-top: 35px;
}

.overflow {
    overflow: hidden;
}

.clear {
    clear: both;
}
