<form [formGroup]="contractorForm" class="innerMargin-contractor overflow-contractor">
  <h4 class="margin-left-contractor margin-top-contractor">
    <p-radioButton name="groupName" formControlName="radioOrg" value="1" (click)="onRadioChange()"></p-radioButton>
    {{'CONTRACT.CONTRACTOR.ORGANIZATION.title' | translate}}
  </h4>

  <div class="margin-top-contractor clear-contractor">
        <span class="ui-float-label">
          <p-dropdown [autoDisplayFirst]="false" formControlName="nameOrg" id="nameOrg"
                      (onChange)="onOrganizationDropdownChange($event)"
                      [options]="organizationOptions" name="nameOrg" [style]="{'width': '90%'}"
                      [showClear]="true">
            <ng-template let-option pTemplate="selectedItem">
              {{option['label'] |translate}}
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{option['label'] |translate}}
            </ng-template>
          </p-dropdown>
          <label for="nameOrg">{{'CONTRACT.CONTRACTOR.ORGANIZATION.name' | translate}} </label>
        </span>
  </div>

  <div class="margin-top-contractor clear-contractor">
      <span class="ui-float-label">
        <input formControlName="vatNumberOrg" id="vatNumberOrg" type="text" pInputText class="input-width-contractor">
        <label for="vatNumberOrg">{{'CONTRACT.CONTRACTOR.ORGANIZATION.vatNumber' | translate}}</label>
      </span>
  </div>

  <div class="margin-top-contractor clear-contractor">
        <span class="ui-float-label">
          <p-dropdown [autoDisplayFirst]="false" formControlName="mainContactNameOrg" id="mainContactNameOrg"
                      (onChange)="onContactOrganizationDropdownChange($event)"
                      [options]="contactOrganizationOptions" name="mainContactNameOrg" [style]="{'width': '90%'}"
                      [showClear]="true">
            <ng-template let-option pTemplate="selectedItem">
              {{option['label'] |translate}}
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{option['label'] |translate}}
            </ng-template>
          </p-dropdown>
          <label for="mainContactNameOrg">{{'CONTRACT.CONTRACTOR.ORGANIZATION.mainContactName' | translate}} </label>
        </span>
  </div>

  <div class="margin-top-contractor clear-contractor">
      <span class="ui-float-label">
        <input formControlName="mainContactFirstNameOrg" id="mainContactFirstNameOrg" type="text" pInputText
               class="input-width-contractor">
        <label
          for="mainContactFirstNameOrg">{{'CONTRACT.CONTRACTOR.ORGANIZATION.mainContactFirstName' | translate}}</label>
      </span>
  </div>
  <h4 class="margin-left-contractor margin-top-contractor">
    <p-radioButton name="groupName" formControlName="radioOrg" value="0" (click)="onRadioChange()"></p-radioButton>
    {{'CONTRACT.CONTRACTOR.JOINT_VENTURE.title' | translate}}
  </h4>

  <div class="margin-top-contractor clear-contractor">
        <span class="ui-float-label">
          <p-dropdown [autoDisplayFirst]="false" formControlName="nameVent" id="nameVent"
                      [options]="jointVentureOptions" name="nameVent" [style]="{'width': '90%'}"
                      (onChange)="onJoinVentureDropdownChange($event)"
                      [showClear]="true">
            <ng-template let-option pTemplate="selectedItem">
              {{option['label'] |translate}}
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{option['label'] |translate}}
            </ng-template>
          </p-dropdown>
          <label for="nameVent">{{'CONTRACT.CONTRACTOR.JOINT_VENTURE.name' | translate}} </label>
        </span>
  </div>

  <div class="margin-top-contractor clear-contractor">
      <span class="ui-float-label">
        <input formControlName="vatNumberVent" id="vatNumberVent" type="text" pInputText class="input-width-contractor">
        <label for="vatNumberVent">{{'CONTRACT.CONTRACTOR.JOINT_VENTURE.vatNumber' | translate}}</label>
      </span>
  </div>

  <div class="margin-top-contractor clear-contractor">
        <span class="ui-float-label">
          <p-dropdown [autoDisplayFirst]="false" formControlName="mainContactNameVent" id="mainContactNameVent"
                      [options]="contactJointVentureOptions" name="mainContactNameVent" [style]="{'width': '90%'}"
                      [showClear]="true">
            <ng-template let-option pTemplate="selectedItem">
              {{option['label'] |translate}}
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{option['label'] |translate}}
            </ng-template>
          </p-dropdown>
          <label for="mainContactNameVent">{{'CONTRACT.CONTRACTOR.JOINT_VENTURE.mainContactName' | translate}} </label>
        </span>
  </div>

  <div class="margin-top-contractor clear-contractor">
      <span class="ui-float-label">
        <input formControlName="mainContactFirstNameVent" id="mainContactFirstNameVent" type="text" pInputText
               class="input-width-contractor">
        <label
          for="mainContactFirstNameVent">{{'CONTRACT.CONTRACTOR.ORGANIZATION.mainContactFirstName' | translate}}</label>
      </span>
  </div>

  <div class="margin-left2-contractor container-width">

    <ng-template #tableContent let-organization="rowData">
      <td>{{organization['name']}}</td>
      <td>{{organization['vatNumber']}}</td>
    </ng-template>

    <ng-template #caption>
      <div class="ui-g">
        <div class="ui-g-8 centered">
          <span>{{'CONTRACT.CONTRACTOR.JOINT_VENTURE.members' | translate}}</span>
        </div>
      </div>
    </ng-template>

    <app-generic-table [buttons]="buttons" [tableConfig]="tableConfig" [columns]="cols"
                       [elements$]="data" [selected$]="selected$" [templateRef]="tableContent"
                       [captionTemplateRef]="caption">
    </app-generic-table>
  </div>

</form>
