.innerMargin-contractor span {
  margin: 20px;
}

.margin-left-contractor {
  margin-left: 20px;
}

.margin-left2-contractor {
  margin-left: 9%;
}

.container-width {
  width: 80%;
}
.button-margin-left-contractor {
  margin-left: 81% !important;
}

.margin-top-contractor {
  margin-top: 35px;
}

.input-width-contractor {
  width: 90%;
}

.errorLabel-contractor {
  position: absolute;
  margin-top: -30px !important;
  right: 0;
}

.overflow-contractor {
  overflow: hidden;
}

.clear-contractor {
  clear: both;
}

.centered {
  margin: 0 auto;
}
