.margin-collaborator {
  margin: 2.5% 0 0 5%;
}


.margin-top-collaborator {
  margin-top: 2.5%;
}

.margin-left_collaborator {
  margin-left: 5%;
}

.line_collaborator {
  display: inline-block
}

.input_width_add_collaborator {
  width: 100%;
}

.container_one_width_add_collaborator {
  width: 90%;
}

.float-right-collaborator {
  float: right;
}

.errorLabel-collaborator {
  position: absolute;
  margin-top: -30px !important;
  right: 0;
}

.errorLabelPostalCode {
  margin-top: -30px !important;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-left: -115px;
}

