<form [formGroup]="collaboratorDataForm" (ngSubmit)="onSubmit()" class="innerMargin overflow">
  <ng-container *ngFor="let form_elem of formTemplate" [ngSwitch]="form_elem.type">
    <ng-container *ngSwitchCase="inputTypes.TEXT" class="container_one_width_add_collaborator">
        <span class="ui-float-label margin-collaborator line_collaborator container_one_width_add_collaborator">

          <p-message class="errorLabel-collaborator" severity="error"
                     *ngIf="collaboratorDataForm && collaboratorDataForm.controls[form_elem.id]
                      && !collaboratorDataForm.controls[form_elem.id].valid && collaboratorDataForm.controls[form_elem.id]['dirty']"
                     [text]="getErrorList(collaboratorDataForm, form_elem) | translate">
          </p-message>
          <input formControlName="{{form_elem.id}}" id="{{form_elem.id}}" [attr.data-input-type]="inputTypes.TEXT"
                 [maxLength]="form_elem.maxLength"
                 pInputText class="input_width_add_collaborator">
          <label for="{{form_elem.id}}">{{form_elem.label | translate}}</label>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="inputTypes.DROPDOWN">
      <div class="margin-collaborator clear container_one_width_add_collaborator">
        <span class="ui-float-label">
          <p-message class="errorLabel-collaborator" severity="error"
                     *ngIf="collaboratorDataForm && collaboratorDataForm.controls[form_elem.id]
                      && !collaboratorDataForm.controls[form_elem.id].valid && collaboratorDataForm.controls[form_elem.id]['dirty']"
                     [text]="getErrorList(collaboratorDataForm, form_elem) | translate">
          </p-message>

          <p-dropdown #dropdown [attr.data-input-type]="inputTypes.DROPDOWN" [autoDisplayFirst]="false"
                      [options]="form_elem.options | async"
                      [showClear]="true"
                      [style]="{'width': '100%'}" formControlName="{{form_elem.id}}" id="{{form_elem.id}}"
                      name="{{form_elem.id}}">
            <ng-template let-option pTemplate="selectedItem">
              {{option['label'] |translate}}
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{option['label'] |translate}}
            </ng-template>
          </p-dropdown>
          <label for="{{form_elem.id}}">{{form_elem.label | translate}} </label>
        </span>
      </div>
    </ng-container>
  </ng-container>

  <div class="footer margin-top-collaborator ">
    <div class="card clearfix">
      <button type="ngSubmit" pButton icon="pi pi-check" class="float-right-collaborator margin-left_collaborator"
              label="{{'COMMON.BUTTONS.Save' | translate}}" [disabled]="!collaboratorDataForm.valid"></button>
      <button type="button" pButton icon="pi pi-close" (click)="cancel()"
              label="{{'COMMON.BUTTONS.Cancel' | translate}}"
              class="ui-button-secondary float-right-collaborator margin-left_collaborator"></button>
    </div>
  </div>
</form>
