<ng-template #tableContent let-data="rowData">
  <td class="centered">{{data['competence']}}</td>
</ng-template>

<ng-template #caption>
  <span>{{title ? title : '-' | translate}}</span>
</ng-template>

<div>
    <app-generic-table [buttons]="buttons" [tableConfig]="tableConfig" [columns]="cols" [elements$]="data"
                       [selectedRowBehaviorSubject]="selectedCollaborator" [selected$]="selected$"
                       [templateRef]="tableContent" [captionTemplateRef]="caption">
    </app-generic-table>
</div>
