<p>
  {{this.config.data['confirmation_msg'] | translate}}
</p>

<div class="children-padding margin-top">
  <div class="float-right">
    <app-button icon="ui-icon-check" label="COMMON.BUTTONS.Delete"
                (click)="config.data.delete.click(this.ref)"></app-button>
  </div>
  <div class="float-right">
    <app-button icon="ui-icon-close" label="COMMON.BUTTONS.Cancel" (click)="cancel()"></app-button>
  </div>
</div>
