<div class="bail-main-container-margin-left">

  <form *ngIf="form" (ngSubmit)="updateBailData()" [formGroup]="form" class="margin-top">

    <div class="p-grid">
      <div class="inLine p-col-3">
        <label>
          <p-radioButton name="group1" formControlName="selection" value=""
                         (onClick)="onRadioClick()"></p-radioButton>
          {{'CONTRACT.BAIL.noBail' | translate}}
        </label>
      </div>
    </div>

    <div class="margin-top">
      <div class="p-grid relative">
        <div class="inLine p-col-3">
          <label>
            <p-radioButton name="group1" formControlName="selection" value="{{bailType.SPECIAL_BAIL}}"
                           (onClick)="onRadioClick()"></p-radioButton>
            {{'CONTRACT.BAIL.specialBail' | translate}}
          </label>
        </div>
        <div class="inLine p-col-5">
          <p-message class="errorLabel" severity="error"
                     *ngIf="isFieldValid ('specialBailAmount')"
                     [text]="'VALIDATIONS.Required' | translate">
          </p-message>

          <span class="ui-float-label container2-width">
              <input class="input2-width" formControlName="specialBailAmount" id="specialBailAmount" type="text"
                     pInputText (focusout)="updateBailData()">
              <label for="specialBailAmount">{{'CONTRACT.BAIL.specialBailAmount' | translate}}</label>
          </span>
        </div>
      </div>
    </div>

    <div class="margin-top">
      <div class="p-grid">
        <div class="inLine p-col-3">
          <label>
            <p-radioButton name="group1" formControlName="selection" value="{{bailType.BAIL}}"
                           (onClick)="onRadioClick()"></p-radioButton>
            {{'CONTRACT.BAIL.bail' | translate}}
          </label>
        </div>
        <div class="inLine p-col-5">
          <p-message class="errorLabel" severity="error"
                     *ngIf="isFieldValid ('standardBailPercentage')"
                     [text]="'VALIDATIONS.Required' | translate">
          </p-message>
          <span class="ui-float-label container2-width">
              <input class="input2-width" formControlName="standardBailPercentage" id="standardBailPercentage"
                     type="text" pInputText (focusout)="updateBailData()">
              <label for="standardBailPercentage">{{'CONTRACT.BAIL.standardBailPercentage' | translate}}</label>
          </span>
        </div>
        <div class="inLine p-col-4">
          <span class="ui-float-label">
              <input formControlName="bailAmount" id="bailAmount" type="text" pInputText>
              <label for="bailAmount">{{'CONTRACT.BAIL.bailAmount' | translate}}</label>
          </span>
        </div>

      </div>
    </div>

    <div class="p-grid margin-top">
      <div class="p-col">
        <div class="inLine text-area-width  bail-text-area-border">
        <span class="ui-float-label container1-width ">
            <textarea class="input-width" id="bailDescription" formControlName="bailDescription" rows="10" cols="30"
                      pInputTextarea (focusout)="updateBailData()"></textarea>
            <label for="bailDescription">{{'CONTRACT.BAIL.bailDescription' | translate}}</label>
        </span>
        </div>
      </div>
    </div>
    <div *ngIf="this.form.controls.selection.enabled" class="p-grid">
      <div class="p-col bail-button-margin-top">
        <app-button icon="ui-icon-check" label="COMMON.BUTTONS.Validate" (click)="validate()"></app-button>
      </div>
    </div>
  </form>
</div>
