.bail-main-container-margin-left {
  margin-left: 5%;
}

.margin-left {
  margin-left: 5%;
}

.text-area-width {

  width: 95%;
}

.margin-top {
  margin-top: 5%;
}

.bail-button-margin-top {
  position: absolute;
  right: 6%;
  bottom: 5%;
}

.bail-float-right {
  float: right;
}

.inLine {
  display: inline-block;
}

.relative {
  position: relative;
}

.container1-width {
  width: 100%;
}

.input-width {
  width: 100%;
}

.container2-width {
  width: 85%;
}

.input2-width {
  width: 100%;
}

.errorLabel {
  margin-top: -30px !important;
  position: absolute;
  right: 32%;
}

.bail-text-area-border {
  border: 1px solid grey;
}
