<form [formGroup]="authorityDataForm" (ngSubmit)="onSubmit()" class="innerMargin overflow">
  <span class="ui-float-label margin line container_one_width">
    <input name="name" formControlName="name" id="name" type="text"
           pInputText class="input_width">
    <label
      for="name">{{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.authority_label' | translate}}</label>
    <p-message class="errorLabel" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['name']
                && !authorityDataForm.controls['name'].valid && authorityDataForm.controls['name'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>
  <span class="ui-float-label line margin_grp2 container_two_width">
    <input name="nationalId" formControlName="nationalId" id="nationalId" type="text"
           pInputText class="input_width">
    <label
      for="nationalId">{{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.kbo_label' | translate}}</label>
    <p-message class="errorLabel" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['nationalId']
                && !authorityDataForm.controls['nationalId'].valid && authorityDataForm.controls['nationalId'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>
  <span class="ui-float-label margin line container_one_width">
    <input name="address" formControlName="address" id="address" type="text" pInputText class="input_width">
    <label for="address">
      {{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.street_label' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['address']
                && !authorityDataForm.controls['address'].valid && authorityDataForm.controls['address'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>
  <span class="ui-float-label margin_grp2 line container_three_width">
    <input name="number" formControlName="number" id="number" type="text" pInputText class="input_width">
    <label for="number">
      {{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.number_label' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['number']
                && !authorityDataForm.controls['number'].valid && authorityDataForm.controls['number'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>
  <span class="ui-float-label margin_grp2 line container_three_width">
    <input name="box" formControlName="box" id="box" type="text" pInputText class="input_width">
    <label for="box">
      {{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.box_label' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['box']
                && !authorityDataForm.controls['box'].valid && authorityDataForm.controls['box'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>
  <span class="ui-float-label margin line container_four_width">
    <input name="municipality" formControlName="municipality" id="municipality" type="text" pInputText
           class="input_width">
    <label for="municipality">
      {{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.town_label' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['municipality']
                && !authorityDataForm.controls['municipality'].valid && authorityDataForm.controls['municipality'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>
  <span class="ui-float-label margin_grp2 line container_three_width">
    <input name="postalCode" formControlName="postalCode" id="postalCode" type="text" pInputText class="input_width">
    <label for="postalCode">
      {{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.postalCode_label' | translate}}
    </label>
    <p-message class="errorLabelPostalCode" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['postalCode']
                && !authorityDataForm.controls['postalCode'].valid && authorityDataForm.controls['postalCode'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

  <span class="ui-float-label margin_grp2 line container_two_width">
    <p-message class="errorLabel" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['country']
                && !authorityDataForm.controls['country'].valid && authorityDataForm.controls['country'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>

    <!--suppress JSUnusedGlobalSymbols -->
    <p-dropdown #country name="country" [autoDisplayFirst]="false" formControlName="country"
                [options]="countries" id="country" [style]="{'width': '100%'}" [showClear]="true">
      <ng-template let-option pTemplate="selectedItem">
        {{option['label'] |translate}}
      </ng-template>
      <ng-template let-option pTemplate="item">
        {{option['label'] |translate}}
      </ng-template>
    </p-dropdown>
    <label
      for="country">{{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.country_label' | translate}} </label>
  </span>
  <span class="ui-float-label margin line container_four_width">
    <input name="email" formControlName="email" id="email" type="text" pInputText class="input_width">
    <label for="email">
      {{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.email_label' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['email']
                && !authorityDataForm.controls['email'].valid && authorityDataForm.controls['email'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>
  <span class="ui-float-label margin_grp2 line container_three_width">
    <input name="phone" formControlName="phone" id="phone" type="text" pInputText class="input_width">
    <label for="phone">
      {{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.telephone_label' | translate}}
    </label>
    <p-message class="errorLabel" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['phone']
                && !authorityDataForm.controls['phone'].valid && authorityDataForm.controls['phone'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>
  <span class="ui-float-label margin_grp2 line container_two_width">
    <input name="fax" formControlName="fax" id="fax" type="text" pInputText class="input_width">
    <label for="fax">
      {{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.ADD_EDIT_AUTHORITY.fax_label' | translate}}
    </label>
    <p-message class="fax" severity="error"
               *ngIf="authorityDataForm && authorityDataForm.controls['fax']
                && !authorityDataForm.controls['fax'].valid && authorityDataForm.controls['fax'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>
  </span>

  <div class="footer margin-top ">
    <div class="card clearfix">
      <button type="ngSubmit" pButton icon="pi pi-check" class="float-right margin-left"
              label="{{'COMMON.BUTTONS.Save' | translate}}" [disabled]="!authorityDataForm.valid"></button>
      <button type="button" pButton icon="pi pi-close" (click)="cancel()"
              label="{{'COMMON.BUTTONS.Cancel' | translate}}"
              class="ui-button-secondary float-right margin-left"></button>
    </div>
  </div>

</form>
