.margin {
  margin: 2.5% 0 0 1%;
}

.margin_grp2 {
  margin: 2.5% 0 0 2%;
}

.margin-top {
  margin-top: 2.5%;
}

.margin-left {
  margin-left: 2%;
}

.line {
  display: inline-block
}

.input_width {
  width: 100%;
}

.container_one_width {
  width: 63%;
}

.container_two_width {
  width: 33%;
}

.container_three_width {
  width: 15.5%;
}

.container_four_width {
  width: 45.5%;
}

.float-right {
  float: right;
}

.errorLabel {
  position: absolute;
  margin-top: -30px !important;
  right: 0;
}

.errorLabelPostalCode {
  margin-top: -30px !important;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-left: -115px;
}

