<div class="head generic-table-margin-top">
  <div class="generic-table-button-position-parent" *ngIf="hasButtons()">
    <button class="generic-table-button-position" *ngFor="let button of buttons" type="button" pButton
            [icon]="button.icon"
            [disabled]="button.disabled | async" [title]="button.title ?  button.title : '' | translate"
            (click)="button.click.call(button.scope, $event)"></button>
  </div>

  <div *ngIf="tableConfig.hasSearchFilter" class="generic-table-margin-top generic-table-input-width margin-left">
    <label>
      <input class="generic-table-input-width" type="text" pInputText size="50"
             placeholder="{{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.COLUMNS.searchText' | translate}}"
             (input)="table.filterGlobal($event.target['value'], 'contains')">
      <em class="ui-icon-search"></em>
    </label>
  </div>
</div>

<div>
  <p-table autoLayout="true" #genericTable [value]="(elements$ | async)"
           [paginator]="tableConfig.paginator !== undefined"
           [rows]="tableConfig.paginator ? tableConfig.paginator.rows : 0" [columns]="columns"
           [rowsPerPageOptions]="tableConfig.paginator ? tableConfig.paginator.rowsPerPageOptions : [5,10,20]"
           [selectionMode]="tableConfig.selectionMode ? tableConfig.selectionMode : 'single'"
           [sortField]="tableConfig.sortField ? tableConfig.sortField : null"
           [sortOrder]="tableConfig.sortOrder ? tableConfig.sortOrder : 1"
           (onRowSelect)="onRowSelection($event)"
           (onRowUnselect)="onRowUnSelection()"
           [(selection)]="selection">

    <ng-template [ngIf]="captionTemplateRef" pTemplate="caption">
      <ng-template [ngTemplateOutlet]="captionTemplateRef"></ng-template>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th id='head' *ngFor="let col of columns" class="{{col.class}}" [pSortableColumnDisabled]="!col.hasSort"
            [pSortableColumn]="col.field">
          {{col.text | translate}}
          <p-sortIcon [field]="col.field" *ngIf="col.hasSort"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{rowData: rowData}"></ng-template>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" [colSpan]="columns.length">{{tableConfig.noResultsMessage | translate}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
