.float-right {
  float: right;
}

td.text-center {
  text-align: center;
}

.head {
  width: 100%;
  height: 50px;
}

.generic-table-margin-top {
  margin-top: 20px;
}

.generic-table-input-width {
  max-width: 55%;
}

.margin-left {
  margin-left: 1%;
}

.generic-table-button-position {
  float: right;
  margin-left: 10px;
}

.generic-table-button-position-parent {
  overflow: hidden;
  width: auto;
  display: inline;
}

