.innerMargin span {
  margin: 20px;
}

.margin-left {
  margin-left: 20px;
}

.margin-top {
  margin-top: 35px;
}

.input-width {
  width: 90%;
}

.upload-width {
  width: 87%;
}

.errorLabel {
  position: absolute;
  margin-top: -15px !important;
  right: 20%;
}

.border-left {
  position: relative;
  border-top: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  border-left: 0 solid #bdbdbd;
  float: left;
  width: 50%;
  height: 150px;
  margin: 10px 0 20px 0;
}

.border-right {
  position: relative;
  border: 1px solid #bdbdbd;
  float: right;
  width: 37.5%;
  height: 150px;
  margin: 10px 11.5% 20px 0;
}

.overflow {
  overflow: hidden;
}

.clear {
  clear: both;
}

/* increase fileupload button spacing between 'choose' and 'upload' */
::ng-deep .ui-fileupload-buttonbar .ui-fileupload-choose {
  margin-right: 31%;
}

.button-margin-left {
  margin-left: 80% !important;
}

.dirty-buttons {
  position: absolute;
  right: 7%;
  bottom: -80%;
}

/*TODO CSPROC-2140 hidden till given functionality*/
.hidden-till-functionality {
  display: none;
}
