<form [formGroup]="formDuplicate" class="ui-g-12 ui-g-nopad">
  <div class="min-height">
    <span class="ui-float-label">
      <input id="name" type="text" size="30" pInputText class="form-control" [formControl]="formDuplicate.name"
             required>
      <label for="name">{{'COMMON.INPUT.Name' | translate}}*</label>
    </span>
    <div *ngIf="formDuplicate.name.invalid && formDuplicate.name.touched" class="alert alert-danger color">
      <div
        *ngIf="formDuplicate.name.errors.required">{{'COMMON.INPUT.NameRequired' | translate}}</div>
    </div>
  </div>

  <div class="margin-top float-right">
    <button type="button" pButton icon="pi pi-close" (click)="closeDialog()"
            label="{{'COMMON.BUTTONS.Cancel' | translate}}" class="ui-button-secondary margin-right"></button>
    <button type="button" pButton icon="pi pi-check" [disabled]="formDuplicate.invalid" (click)="duplicateItem()"
            label="{{'COMMON.BUTTONS.Create' | translate}}"></button>
  </div>
</form>
