<div class="ui-g-12">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <p-panel [toggleable]="true" header="{{'ADMINISTRATIVE.DOCUMENTS.DETAIL.EMAIL.BODY.Header' | translate}}">
        <div class="ui-g">
          TODO Content for body
        </div>
        <p-footer>
          <div class="ui-g">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12 nopad">
                <div class="ui-g-6">
                  <button type="button" pButton icon="pi pi-check" (click)="save()"
                          label="{{'COMMON.BUTTONS.Save' | translate}}"></button>
                </div>
                <div class="ui-g-6">
                  <button type="button" pButton icon="pi pi-close" (click)="reset()"
                          label="{{'COMMON.BUTTONS.Cancel' | translate}}" class="ui-button-secondary"></button>
                </div>
              </div>
            </div>
          </div>
        </p-footer>
      </p-panel>
    </div>
  </div>
</div>
