.margin-left {
    margin-left: 5%;
}

.margin2-left {
    margin-left: 3.5%;
}

.container-width {
    width: 90%;
}

.errorLabel {
    position: absolute;
    margin-top: -15px !important;
    right: 20%;
}

.clear {
    clear: both;
}

.authority-button-margin-top {
    float: right;
    margin-top: 25px;
    margin-right: 49px;
    margin-bottom: 25px;
}

.min-height {
    min-height: 230px;
}

.relative {
    position: relative;
}

.full-height {
    height: 100%
}
