<div class="relative full-height" *ngIf="this.form">
  <form [formGroup]="form" class="full-height">
    <h4 class="margin2-left">{{'CONTRACT.AUTHORITY.contractingAuthority' | translate}}</h4>
    <div class="margin2-left clear">
        <span class="ui-float-label">
          <p-message class="errorLabel" severity="error"
                     *ngIf="isFieldValid('client')"
                     [text]="'VALIDATIONS.Required' | translate">
          </p-message>

          <p-dropdown [autoDisplayFirst]="false" formControlName="client" id="client"
                      [options]="authorityOptions" name="client" [style]="{'width': '96%'}"
                      [showClear]="true" (onChange)="patchContractAuthorityRelation('client')">
            <ng-template let-option pTemplate="selectedItem">
              {{option['label'] |translate}}
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{option['label'] |translate}}
            </ng-template>
          </p-dropdown>
          <label for="client">{{'CONTRACT.AUTHORITY.name' | translate}} </label>
        </span>
    </div>

    <div class="margin-left container-width">

      <ng-template #tableContent let-data="rowData">
        <td>{{data['qualification']}}</td>
        <td>{{data['lastName']}}</td>
        <td>{{data['firstName']}}</td>
        <td>{{data['department']}}</td>
        <td>{{data['function']}}</td>
        <td>
          <div class="ui-g-12 ui-md-4">
            <p-radioButton name="grp1" [formControlName]="'radio' + data['id']" [value]="data['id']"
                           (click)="setMainContact(data)">
              {{data['id']}}
            </p-radioButton>
          </div>
        </td>
        <td class="relative">
          <p-calendar (onSelect)="setStartDate(data, this.form.controls['date' + data['id']].value)"
                      [formControlName]="'date' + data['id']" [inputStyle]="{'width':'80%'}" appendTo="body"
                      [showIcon]="true"></p-calendar>
        </td>
      </ng-template>

      <ng-template #caption>
        <span>{{'CONTRACT.AUTHORITY.QUALIFIED_PERSONS_TABLE.title' | translate}}</span>
      </ng-template>
      <app-generic-table [buttons]="buttons" [tableConfig]="tableConfig" [columns]="cols"
                         [elements$]="qualifiedPersonData" [selectedRowBehaviorSubject]="selectedCollaborator"
                         [templateRef]="tableContent"
                         [captionTemplateRef]="caption">
      </app-generic-table>

      <div class="">
        <app-collaborator-competence [selectedCollaborator]="selectedCollaborator"></app-collaborator-competence>
      </div>

    </div>
    <div *ngIf="this.form.controls.client.enabled" class="authority-button-margin-top">
      <app-button icon="ui-icon-check" label="COMMON.BUTTONS.Validate" (click)="validate()"></app-button>
    </div>
  </form>
</div>
