body {
  .ui-breadcrumb {
    padding: $inputHeaderPadding;

    ul {
      li {
        a {
          color: #ffffff;
          font-size: $inputHeaderFontSize;
        }
      }
    }
  }

  .ui-steps {
    position: relative;

    .ui-steps-item {
      background-color: transparent;

      &.ui-state-disabled {
        @include opacity(1);
      }

      .ui-menuitem-link {
        display: inline-block;
        text-align: left;
        background-color: #ffffff;
        overflow: hidden;

        .ui-steps-number {
          display: inline-block;
          background-color: $grayBgColor;
          @include border-radius(50%);
          padding: .25em .75em;
          font-size: 1em;
          color: #ffffff;
        }

        .ui-steps-title {
          display: inline;
          margin-left: .625em;
          color: $textSecondaryColor;
        }
      }

      &.ui-state-highlight {
        .ui-steps-number {
          background-color: $accentColor;
        }

        .ui-steps-title {
          font-weight: 700;
          color: $textColor;
        }
      }

      &:last-child {
        .ui-menuitem-link {
          display: block;
        }
      }
    }

    &:before {
      content: ' ';
      border: 1px solid $dividerColor;
      width: 90%;
      top: 45%;
      left: 0;
      display: block;
      position: absolute;
    }
  }

  .ui-menu .ui-menuitem-link,
  .ui-menubar .ui-menuitem-link,
  .ui-tieredmenu .ui-menuitem-link,
  .ui-contextmenu .ui-menuitem-link,
  .ui-megamenu .ui-menuitem-link,
  .ui-slidemenu .ui-menuitem-link {
    padding: .625em 1em;
    color: $textColor;
    @include border-radius(0);

    &:hover {
      @include hover-element();
    }

    &:focus {
      @include hover-element();
    }

    .ui-menuitem-text {
      vertical-align: middle;
    }

    .ui-menuitem-icon {
      color: #757575;
    }
  }

  .ui-menubar, .ui-contextmenu,
  .ui-slidemenu, .ui-tieredmenu {
    .ui-submenu-list {
      padding: .5em 0;

      .ui-menuitem {
        margin: 0;
      }
    }
  }

  .ui-menu {
    min-width: 12.5em;
    padding: .5em 0;

    .ui-menuitem {
      margin: 0;

      .ui-menuitem-link {
        .ui-menuitem-icon {
          vertical-align: middle;
        }
      }
    }

    &.ui-shadow, .ui-shadow {
      @include overlay-input-shadow();
    }

    .ui-submenu-header {
      border: 0 none;
      margin: 0;
      padding: .625em 1em;
      border-radius: 0;
    }
  }

  .ui-menubar {
    padding: 0;

    .ui-menubar-root-list {
      & > .ui-menuitem > .ui-menuitem-link {
        padding: .625em 1em;
      }
    }

    .ui-menuitem {
      .ui-menuitem-link {
        .ui-menuitem-icon {
          vertical-align: middle;
        }

        .ui-submenu-icon {
          vertical-align: middle;
        }
      }

      &.ui-menuitem-active {
        > .ui-menuitem-link {
          @include hover-element;

          .ui-menuitem-icon {
            vertical-align: middle;
          }
        }
      }
    }
  }

  .ui-contextmenu {
    padding: .5em 0;

    .ui-menuitem {

      .ui-menuitem-link {
        .ui-menuitem-icon {
          vertical-align: middle;
        }
      }

      &.ui-menuitem-active {
        > .ui-menuitem-link {
          @include hover-element;
        }
      }
    }
  }

  .ui-slidemenu {
    padding: .5em 0;

    .ui-menuitem {
      margin: 0;

      .ui-menuitem-link {
        .ui-menuitem-icon {
          vertical-align: middle;
        }
      }

      &.ui-menuitem-active {
        > .ui-menuitem-link {
          @include hover-element;
        }
      }
    }

    .ui-slidemenu-backward {
      margin-bottom: .4em;
      padding: $headerPadding;
      width: 100%;
      background-color: $primaryColor;
      box-sizing: border-box;
      @include border-radius(0);
      border: 0 none;

      &:hover {
        background-color: darken($primaryColor, 10%);
      }
    }
  }

  .ui-tieredmenu {
    padding: .5em 0;

    .ui-menuitem {

      .ui-menuitem-link {
        .ui-menuitem-icon {
          vertical-align: middle;
        }
      }

      &.ui-menuitem-active {
        > .ui-menuitem-link {
          @include hover-element;
        }
      }
    }
  }

  .ui-tabmenu {
    padding: 0;

    .ui-tabmenu-nav {
      padding: 0;
      background-color: #ffffff;
      border: 0 none;
      @include border-radius(0);

      > .ui-tabmenuitem {
        top: auto;
        margin: 0 .25em 0 0;
        padding: 0;
        border-style: solid;
        border-width: 0 0 2px 0;
        @include transition(border-color .3s);

        > a {
          padding: $headerPadding;

          &:focus {
            outline: 0 none;
          }

          .ui-menuitem-icon, .ui-menuitem-text {
            float: none;
            display: inline-block;
            vertical-align: middle;
          }

          .ui-menuitem-icon {
            font-weight: 1em;
            margin-right: .25em;
          }
        }

        &.ui-state-default {
          a {
            color: $textSecondaryColor;

            .ui-menuitem-icon {
              color: $textSecondaryColor;
            }
          }
        }

        &:not(.ui-state-active):hover {
          background-color: #ffffff;
        }

        &.ui-state-active {
          background-color: #ffffff;
          border-color: $accentColor;
          border-style: solid;

          a {
            color: $primaryColor;

            .ui-menuitem-icon {
              color: $primaryColor;
            }
          }
        }
      }
    }
  }

  .ui-megamenu {
    padding: 0;

    .ui-megamenu-submenu-header {
      border-radius: 0;
      padding: .5em;
    }

    .ui-submenu-list {
      padding: 0;
      border: 0 none;

      .ui-menuitem {
        margin: 0;
      }
    }

    .ui-menuitem {
      margin: 0;

      .ui-menuitem-link {
        .ui-menuitem-icon {
          vertical-align: middle;
        }

        .ui-submenu-icon {
          vertical-align: middle;
        }
      }

      &.ui-menuitem-active {
        > .ui-menuitem-link {
          @include hover-element;
        }
      }
    }
  }

  .ui-panelmenu {
    .ui-panelmenu-header {
      background-color: $primaryColor;
      margin-bottom: 1px;

      a {
        padding: .625em 1em;
        color: #ffffff;
        font-size: $fontSize;
        border-bottom: 1px solid #ffffff;
      }

      .pi {
        color: #ffffff;
        vertical-align: middle;
      }

      .ui-menuitem-icon {
        color: #ffffff;
        vertical-align: middle;
      }

      .ui-menuitem-text {
        vertical-align: middle;
      }

      &.ui-state-active {
        background-color: $accentColor;
        @include border-radius-bottom(0);
        margin-bottom: 0;

        a, .ui-menuitem-icon {
          color: $accentTextColor;
        }
      }
    }

    .ui-panelmenu-content {
      padding: 0;

      .ui-menuitem {
        margin: 0;

        .ui-menuitem-link {
          border: 0 none;
          padding: .625em 1em;;
          width: 100%;
          min-height: 2.750em;
          box-sizing: border-box;
          color: $textColor;
          line-height: 1.5em;
          @include border-radius(0);
          position: relative;

          &:hover {
            @include hover-element();
          }

          .ui-menuitem-text {
            display: inline-block;
            vertical-align: middle;
            float: none;
          }

          .pi {
            position: static;
            display: inline-block;
            vertical-align: middle;
          }

          .ui-menuitem-icon {
            vertical-align: middle;
          }
        }
      }
    }

    .ui-menu-parent .ui-menu-list {
      margin-left: 28px;
    }
  }
}

@media (max-width: 640px) {
  body {
    .ui-steps {
      .ui-steps-item {
        .ui-menuitem-link {
          .ui-steps-title {
            display: none;
          }
        }
      }
    }
  }
}
