<div class="min-height">
  <ng-template #tableContent let-eleme="rowData">
    <td>{{eleme['refNum']}}</td>
    <td>{{eleme['dateReminder']}}</td>
    <td><a href="#" onclick="return false;">{{eleme['documentName']}}</a></td>
  </ng-template>
  <ng-template #caption>
    <span>{{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.remindersCaption' | translate}}</span>
  </ng-template>
  <app-generic-table-lazy [elements$]="elements" [templateRef]="tableContent" [captionTemplateRef]="caption">
  </app-generic-table-lazy>
</div>
