<ng-template #tableContent let-document="rowData">
  <td class="text-center no-padding">{{document['date']}}</td>
  <td class="no-padding">
    <div class="ui-g-12">
      <div class="ui-g-11">
        <div class="document-process" title="{{document['name']}}">{{document['name']}}</div>
      </div>
      <div class="ui-g-offset-10">
        <div class="document-process-icon">
          <em class="material-icons document-type-icon">{{document['type'] | documentTypeIcon}}</em>
        </div>
      </div>
    </div>
  </td>
  <td class="text-center no-padding"><em class="material-icons">{{document['status'] | documentStatusIcon}}</em></td>
  <td class="hidden">{{document['type']}}</td>
</ng-template>
<div class="height">
  <div class="shadow-box">
    <p-panel [toggleable]="true"
             header="{{'ADMINISTRATIVE.DOCUMENTS.SIDE_BAR.Title' | translate}}">
      <app-generic-table-lazy #sideBaseTable [elements$]="documents$" [templateRef]="tableContent">
      </app-generic-table-lazy>
    </p-panel>
  </div>
</div>

<!--  for detail view-->
<div>
  <router-outlet></router-outlet>
</div>
