td.text-center {
    text-align: center;
}

td.hidden {
    width: 0;
    overflow: hidden;
}

i.material-icons.document-type-icon {
    float: right;
    font-size: initial;
}

div.document-process {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.document-process-icon {
    display: grid;
}

/*!* app-generic-table *!*/
app-generic-table-lazy ::ng-deep th.hidden {
    width: 0;
    overflow: hidden;
}

app-generic-table-lazy ::ng-deep th.small-size {
    width: 6em;
}

app-generic-table-lazy ::ng-deep th.icon-size {
    width: 3em;
}

app-generic-table-lazy ::ng-deep .smaller {
    font-size: smaller;
}

app-generic-table-lazy ::ng-deep .no-padding {
    padding: 0 !important;
}

app-generic-table-lazy ::ng-deep .no-padding-right {
    padding-right: 0;
}

.shadow-box {
    border: 1px solid #bdbdbd;
    border-radius: 12px;
    box-shadow: 10px 10px 5px #888888;
    width: 100%;
    height: auto !important;
    max-height: 33em;
}

.height {
    height: auto !important;
}
