.shadow-box {
    border: 1px solid #bdbdbd;
    border-radius: 12px;
    box-shadow: 10px 10px 5px #888888;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    height: auto !important;
    max-height: 95%;
}

.height {
    height: auto !important;
}

.radio-pane-height {
    height: 95px;
}

.margin-top {
    margin-top: 10px;
}

.hidden-overflow {
    overflow: hidden;
}
