<div class="height">
  <div class="shadow-box">
    <p-panel [toggleable]="true">
      <form class="innerMargin overflow">
        <div class="margin-top clear">
          <div class="form-group radio-pane-height">
            <div class="ui-g">
              <div class="ui-g-12">
                <p-radioButton name="insurance"
                               value="false"
                               label="{{'CONTRACT.INSURANCES.NO_INSURANCES' | translate}}">
                </p-radioButton>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 margin-top">
                <p-radioButton name="insurance"
                               value="true"
                               label="{{'CONTRACT.INSURANCES.WITH_INSURANCES' | translate}}">
                </p-radioButton>
              </div>
            </div>
          </div>
        </div>
      </form>
    </p-panel>
  </div>
</div>
<div class="height">
  <div class="shadow-box hidden-overflow">
    <p-panel [toggleable]="true"
             header="{{'CONTRACT.INSURANCES.ADMIN.INSURANCES_INFO.title' | translate}}">
      <app-insurances-info></app-insurances-info>
    </p-panel>
  </div>
</div>
