<form *ngIf="this.personForm" [formGroup]="personForm" class="innerMargin overflow">
  <div class="margin-top clear">
    <span class="ui-float-label">
      <p-message class="errorLabel" severity="error"
                 *ngIf="isFieldValid('qualification')"
                 [text]="'VALIDATIONS.Required' | translate">
      </p-message>

      <p-dropdown [autoDisplayFirst]="false" formControlName="qualification" (onChange)=onQualificationSelection()
                  [options]="qualificationOptions" id="qualification" [style]="{'width': '98.2%'}" [showClear]="true">
        <ng-template let-option pTemplate="selectedItem">
          {{option['label'] |translate}}
        </ng-template>
        <ng-template let-option pTemplate="item">
          {{option['label'] |translate}}
        </ng-template>
      </p-dropdown>
      <label for="qualification">{{'CONTRACT.AUTHORITY.QUALIFIED_PERSONS_TABLE.qualification' | translate}} </label>
    </span>
  </div>
  <div class="margin-top clear">
        <span class="ui-float-label">
            <textarea class="input-width text-area-border" id="competence" formControlName="competence" rows="5"
                      cols="30"
                      pInputTextarea></textarea>
            <label for="competence">{{'CONTRACT.AUTHORITY.QUALIFIED_PERSONS_TABLE.competence' | translate}}</label>
        </span>
  </div>
  <div class="margin-top clear">
    <span class="ui-float-label">
      <p-message class="errorLabel" severity="error"
                 *ngIf="isFieldValid('lastName')"
                 [text]="'VALIDATIONS.Required' | translate">
      </p-message>

      <p-dropdown [autoDisplayFirst]="false" formControlName="lastName" (onChange)="onLastNameSelection()"
                  [options]="lastNameOptions" id="lastName" [style]="{'width': '98.2%'}" [showClear]="true">
        <ng-template let-option pTemplate="selectedItem">
          {{option['label'] |translate}}
        </ng-template>
        <ng-template let-option pTemplate="item">
          {{option['label'] |translate}}
        </ng-template>
      </p-dropdown>
      <label for="lastName">{{'CONTRACT.AUTHORITY.QUALIFIED_PERSONS_TABLE.lastName' | translate}} </label>
    </span>
  </div>

  <div class="margin-top clear" style="position: relative;">
    <span class="ui-float-label">
      <p-message class="errorLabel" severity="error"
                 *ngIf="isFieldValid('firstName')"
                 [text]="'VALIDATIONS.Required' | translate">
      </p-message>
      <input formControlName="firstName" id="firstName" type="text" [maxLength]="128"
             pInputText class="input-width">
      <label for="firstName">{{'CONTRACT.AUTHORITY.QUALIFIED_PERSONS_TABLE.firstName' | translate}}</label>
    </span>
  </div>

  <div class="margin-top clear" style="position: relative;">
    <span class="ui-float-label">
      <p-message class="errorLabel" severity="error"
                 *ngIf="isFieldValid('department')"
                 [text]="'VALIDATIONS.Required' | translate">
      </p-message>
      <input formControlName="department" id="department" type="text" [maxLength]="128"
             pInputText class="input-width">
      <label for="department">{{'CONTRACT.AUTHORITY.QUALIFIED_PERSONS_TABLE.department' | translate}}</label>
    </span>
  </div>

  <div class="margin-top clear" style="position: relative;">
    <span class="ui-float-label">
      <p-message class="errorLabel" severity="error"
                 *ngIf="isFieldValid('function')"
                 [text]="'VALIDATIONS.Required' | translate">
      </p-message>
      <input formControlName="function" id="function" type="text" [maxLength]="128"
             pInputText class="input-width">
      <label for="function">{{'CONTRACT.AUTHORITY.QUALIFIED_PERSONS_TABLE.function' | translate}}</label>
    </span>
  </div>
  <div class="margin-top footer-width-top-border">
    <div class="margin-top relative">
      <button [disabled]="!personForm.valid" type="ngSubmit" pButton icon="pi pi-check" class="absolute margin-right-b1"
              label="{{'COMMON.BUTTONS.Save' | translate}}" (click)="save()"></button>
      <button type="button" pButton icon="pi pi-close" (click)="cancel()"
              label="{{'COMMON.BUTTONS.Cancel' | translate}}"
              class="absolute margin-right-b2"></button>
    </div>
  </div>
</form>

