.innerMargin span {
    margin: 20px;
}

.margin-top {
    margin-top: 35px;
}

.input-width {
    width: 98.2%;
}

.errorLabel {
    position: absolute;
    margin-top: -15px !important;
    right: 20%;
}

.overflow {
    overflow: hidden;
}

.clear {
    clear: both;
}

/* increase fileupload button spacing between 'choose' and 'upload' */
::ng-deep .ui-fileupload-buttonbar .ui-fileupload-choose {
    margin-right: 31%;
}

.text-area-border {
    border: 1px solid grey;
}

.footer-width-top-border {
    width: 95%;
    border-top: 1px solid grey;
}

.margin-right-b1 {
    right: 152px;
}

.margin-right-b2 {
    right: 42px;
}

.absolute {
    position: absolute;

}