<div class="layout-wrapper layout-compact">

  <div class="layout-container menu-layout-static layout-menu-static-inactive">

    <app-top-menu *ngIf="isBrowserOwner()"></app-top-menu>

    <div [ngClass]="{'layout-main-iframe':!isBrowserOwner(), 'layout-main': isBrowserOwner()}">

      <div class="layout-content">
        <!--        TODO CSPROC-2165 see if there is going to be breadcrumb-->
        <!--        <app-breadcrumb></app-breadcrumb>-->
        <p-card class="card-pad">
          <p-toast [style]="{marginTop: '80px'}"></p-toast>
          <router-outlet></router-outlet>
        </p-card>
        <app-footer *ngIf="isBrowserOwner()"></app-footer>
      </div>
    </div>

    <div class="layout-mask"></div>
  </div>

</div>
