td.text-center {
    text-align: center;
}

.table-container {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.table-control {
    float: right;
    margin-left: 10px;
}

.table-controls {
    overflow: hidden;
    width: auto;
    display: inline;
}
