<div class="table-container">
  <div class="table-controls">
    <p-dropdown [options]="organizations" [(ngModel)]="nextOrganization"
                [filter]="true" filterBy="label,value.legalName,value.kboNumber"></p-dropdown>
    <button class="table-control" type="button" pButton
            icon="ui-icon-add"
            [disabled]="false"
            (click)="addOrganization()"></button>
    <button class="table-control" type="button" pButton
            icon="ui-icon-trash"
            [disabled]="!selectedRowBehaviorSubject.getValue()"
            (click)="removeOrganization()"></button>
  </div>
</div>

<div class="ui-g-12 only-padding-top">
  <p-table autoLayout="true" [value]="(members | async)"
           [paginator]="true"
           [rows]="5" [columns]="cols"
           [rowsPerPageOptions]="[5,10,20]"
           selectionMode="single"
           (onRowSelect)="onRowSelection($event)"
           (onRowUnselect)="onRowUnSelection()"
           [(selection)]="selection">

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" class="{{col.class}}" [pSortableColumnDisabled]="!col.hasSort"
            [pSortableColumn]="col.field">
          {{col.text | translate}}
          <p-sortIcon [field]="col.field" *ngIf="col.hasSort"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td>{{rowData['legalName']}}</td>
        <td>{{rowData['vatNumber'] }}</td>
        <td>{{rowData['kboNumber'] }}</td>
        <td>{{rowData['basicAddress']['country']}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" [colSpan]="cols.length">
          {{'MENU.ADMIN_TENANT.ORGANIZATION_CONTACTS.noResults' | translate}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
