<ng-template #tableContent let-eleme="rowData">
  <td>{{eleme['name']}}</td>
  <td>{{eleme['function']}}</td>
  <td>{{eleme['email']}}</td>
  <td>{{eleme['phone']}}</td>
  <td>{{eleme['authority']}}</td>
  <td>{{eleme['department']}}</td>
  <td>{{eleme['qualification']}}</td>
</ng-template>


<ng-template #caption>
  <div class="ui-g">
    <div class="ui-g-8 centered">
      <span>{{'MENU.ADMIN_TENANT.COLLABORATORS.menuTitle' | translate}}</span>
    </div>
  </div>
</ng-template>

<app-generic-table-lazy [elements$]="elements" [templateRef]="tableContent" [captionTemplateRef]="caption">
</app-generic-table-lazy>
