<button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
  <span aria-hidden="true" class="ui-button-icon-left ui-clickable {{icon}}"></span>
  <span class="ui-button-text ui-clickable">{{label | translate}}</span>
  <span class="ink ripple-animate"
        style="height: 277px; width: 277px; top: -127px; left: -4px; pointer-events: none;"></span>
</button>
<div style="height: 0.1em"></div>
