.add-padding-top {
  padding-top: 40px;
}

.add-padding-bottom {
  padding-bottom: 20px;
}

.add-margin-bottom {
  margin-bottom: 10px;
}

.add-margin-top {
  margin-top: 30px;
}
.no-margin-top {
  margin-top: 0;
}

.add-margin-left {
  margin-left: 10px;
}
