<div class="ui-g-12 add-margin-bottom ">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <form [formGroup]="formDetail">
        <div class="ui-g-6 nopad add-padding-bottom">
        <span class="ui-float-label">
          <input id="name" type="text" size="30" pInputText class="form-control"
                 [formControl]="formDetail.name" required>
          <label for="name">{{'COMMON.INPUT.Name' | translate}}*</label>
        </span>
          <div *ngIf="formDetail.name.invalid && formDetail.name.touched" class="alert alert-danger">
            <div
              *ngIf="formDetail.name.errors.required">{{'COMMON.INPUT.NameRequired' | translate}}</div>
          </div>
        </div>
        <div class="ui-g-2" *ngIf="formDetail.dirty">
          <button type="button" pButton icon="ui-icon-check" (click)="save(this.selected)"
                  title="{{'COMMON.BUTTONS.Save' | translate}}"></button>
          <button type="button" pButton icon="ui-icon-close" (click)="reset()"
                  title="{{'COMMON.BUTTONS.Cancel' | translate}}"></button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--document process component type-->
<router-outlet></router-outlet>

