<div class="margin-left">
  <form *ngIf="formulaInfo" [formGroup]="pricesReviewForm" class="margin-top">
    <div class="margin-top clear">
      <div class="form-group">
        <div class="p-grid">
          <div class="inline-block p-col-3">
            <p-radioButton name="formulaRb"
                           value="{{ formulaType.NONE }}"
                           formControlName="formulaRb"
                           label="{{ 'CONTRACT.PRICES_REVIEW.FORMULA.NONE' | translate }}"
                           (onClick)="onFormulaRadioChange()">
            </p-radioButton>
          </div>
        </div>
        <div class="margin-top">
          <div class="p-grid relative">
            <div class="inline-block p-col-3">
              <p-radioButton name="formulaRb"
                             value="{{ formulaType.FIXED }}"
                             formControlName="formulaRb"
                             label="{{ 'CONTRACT.PRICES_REVIEW.FORMULA.FIXED' | translate }}"
                             (onClick)="onFormulaRadioChange()">
              </p-radioButton>
            </div>
            <div class="inline-block p-col-6">
              <p-message class="errorLabel" severity="error"
                         *ngIf="isFieldValid('fixedFormula')"
                         [text]="'VALIDATIONS.Required' | translate">
              </p-message>
              <span class="ui-float-label container-width">
                <input type="text"
                       id="fixedFormula"
                       formControlName="fixedFormula"
                       class="input-width"
                       [maxLength]="64"
                       pInputText
                       (focusout)="savePricesReviewForm()">
                <label for="fixedFormula">{{'CONTRACT.PRICES_REVIEW.fixedFormula' | translate}}</label>
              </span>
            </div>
          </div>
        </div>
        <div class="margin-top">
          <div class="p-grid relative">
            <div class="inline-block p-col-3">
              <p-radioButton name="formulaRb"
                             value="{{ formulaType.CUSTOM }}"
                             formControlName="formulaRb"
                             label="{{ 'CONTRACT.PRICES_REVIEW.FORMULA.CUSTOM' | translate }}"
                             (onClick)="onFormulaRadioChange()">
              </p-radioButton>
            </div>
            <div class="inline-block p-col-6">
              <p-message class="errorLabel" severity="error"
                         *ngIf="isFieldValid('customFormula')"
                         [text]="'VALIDATIONS.Required' | translate">
              </p-message>
              <span class="ui-float-label container-width">
                  <input type="text"
                         id="customFormula"
                         formControlName="customFormula"
                         class="input-width"
                         [maxLength]="64"
                         pInputText
                         (focusout)="savePricesReviewForm()">
                <label for="customFormula">{{'CONTRACT.PRICES_REVIEW.customFormula' | translate}}</label>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-col button-margin-top">
      <span class=" margin-top button-margin-left">
          <button type="button" pButton icon="ui-icon-check" class="float-right margin-left"
                  label="{{ 'COMMON.BUTTONS.Validate' | translate }}" (click)="onValidate()">
          </button>
      </span>
    </div>
  </form>
</div>
