.margin-left {
  margin-left: 5%;
}

.margin-top {
  margin-top: 5%;
}

.button-margin-top {
  position: absolute;
  right: 6%;
  bottom: 5%;
}

.container-width {
  width: 100%;
}

.input-width {
  width: 100%;
}

.errorLabel {
  margin-top: -30px !important;
  position: absolute;
  right: 32%;
}
