<div>
  <div class="float-right generic-lazy-table-padding">
    <button type="button" *ngFor="let button of rightButtons | keyvalue" pButton [icon]="button.value.icon"
            [disabled]="button.value.disabled | async"
            [title]="button.value.title === null ? '' : button.value.title | translate"
            (click)="button.value.click.apply(button.value.scope)">
    </button>
  </div>
</div>
<div style="height: 2.5em">
  <ng-container>
    <div class="generic-lazy-table-padding">
      <button *ngFor="let button of leftButtons | keyvalue" type="button" pButton [icon]="button.value.icon"
              (click)="button.value.click.apply(button.value.scope)" [title]="button.value.title | translate"
              [disabled]="button.value.disabled | async"></button>
    </div>
  </ng-container>
</div>
<div style="height: 1.5em"></div>
<div class="ui-g">
  <div class="{{tableConfig.containerClass}}">
    <p-table #genericLazyTable [value]="(elements$ | async)" [paginator]="true"
             [rows]="tableConfig.paginator ? tableConfig.paginator.rows : 0" [columns]="columns != null ? columns : []"
             [rowsPerPageOptions]="tableConfig.paginator ? tableConfig.paginator.rowsPerPageOptions : null"
             selectionMode="single"
             [totalRecords]="tableConfig.totalNumberRows"
             [sortField]="tableConfig.sortField ? tableConfig.sortField : null"
             [sortOrder]="tableConfig.sortOrder ? tableConfig.sortOrder : 1"
             (onRowSelect)="onRowSelection($event)"
             [lazy]="true"
             (onRowUnselect)="onRowUnSelection()"
             (onLazyLoad)="onLazyLoad($event)"
             responsive="true"
             [(selection)]="selection">
      <ng-template [ngIf]="captionTemplateRef" pTemplate="caption">
        <ng-template [ngTemplateOutlet]="captionTemplateRef"></ng-template>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th id="header" *ngFor="let col of columns" class="{{col.class}}" [pSortableColumnDisabled]="!col.hasSort"
              [pSortableColumn]="col.field">
            {{col.text | translate}}
            <p-sortIcon [field]="col.field" *ngIf="col.hasSort"><em
              class="ui-sortable-column-icon pi pi-fw pi-sort-down"></em></p-sortIcon>
          </th>
        </tr>
        <tr *ngIf="filterVisible" [@slideInOut]>
          <th id="filter" *ngFor="let col of columns" class="{{col.class}}" [ngSwitch]="col.filter.type">

            <div class="ui-g-12" *ngSwitchCase="filterType.TEXT">
              <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-g-nopad">
                  <label>
                    <input id="col.field" pInputText type="text" placeholder="{{col.filter.placeHolder | translate}}"
                           (input)="table.filter($event.target, col.field, 'text')" [ngModel]="filterValues[col.field]"
                           (ngModelChange)="prepareFilterReset($event, col.field)">

                  </label>
                </div>
              </div>
            </div>

            <div class="ui-g-12" *ngSwitchCase="filterType.DROPDOWN">
              <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-g-nopad">
                  <p-dropdown [options]="(col.filter.data | async)" placeholder="{{col.filter.placeHolder | translate}}"
                              (onChange)="table.filter($event.value, col.field, 'dropdown')"
                              [ngModel]="filterValues[col.field]"
                              (ngModelChange)="prepareFilterReset($event, col.field)">
                    <ng-template let-option pTemplate="item">
                      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div style="font-size:14px;float:right;margin-top:4px">{{option['label'] |translate}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
            </div>

            <div class="ui-g-12" *ngSwitchCase="filterType.MULTI_SELECT">
              <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-g-nopad">
                  <p-multiSelect [options]="(col.filter.data | async )" [panelStyle]="{minWidth:'300px'}"
                                 [filter]="false"
                                 scrollHeight="300px" maxSelectedLabels="0" [selectedItemsLabel]="'{0} selected items'"
                                 (onChange)="table.filter($event.value, col.field, 'multiSelect')"
                                 [(ngModel)]="filterValues[col.field]">
                    <ng-template let-option pTemplate="item">
                      {{option['label'] |translate}}
                    </ng-template>
                  </p-multiSelect>
                </div>
              </div>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{rowData: rowData}"></ng-template>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center"
              [colSpan]="columns !== undefined ? columns.length: 0">{{tableConfig.noResultsMessage | translate}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
