<p>{{ 'CONTRACT.nameOfContract' | translate}}</p>
<form [formGroup]="addContractForm" (ngSubmit)="save()">
<div class="card card-w-title">
  <label>
    <input formControlName="contractName" [placeholder]="'CONTRACT.nameOfContract' | translate" pInputTextarea=""
           type="text"
           class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    <p-message class="errorLabel" severity="error"
               *ngIf="addContractForm && addContractForm.controls['contractName']
                    && !addContractForm.controls['contractName'].valid && addContractForm.controls['contractName'].dirty"
               [text]="'VALIDATIONS.Required' | translate">
    </p-message>

    <p-message class="errorLabel" severity="error" *ngIf="duplicateName | async"
               [text]="'VALIDATIONS.DuplicateName' | translate">
    </p-message>
  </label>
</div>
<div class="children-padding">
  <div class="float-right">
    <button type="submit" [disabled]="!addContractForm.valid || duplicateName.getValue()"
            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
      <span aria-hidden="true" class="ui-button-icon-left ui-clickable ui-icon-check"></span>
      <span class="ui-button-text ui-clickable">{{'COMMON.BUTTONS.Save' | translate}}</span>
      <span class="ink ripple-animate"
            style="height: 277px; width: 277px; top: -127px; left: -4px; pointer-events: none;"></span>
    </button>
    <div style="height: 0.1em"></div>

  </div>
  <div class="float-right">
    <app-button icon="ui-icon-close" label="COMMON.BUTTONS.Cancel" (click)="cancel()"></app-button>
  </div>
</div>
</form>
