<form [formGroup]="formAdd" class="ui-g-12 ui-g-nopad">
  <div class="min-height">
    <span class="ui-float-label">
      <input id="name" type="text" size="30" pInputText [formControl]="formAdd.name" required>
      <label for="name">{{'COMMON.INPUT.Name' | translate}}*</label>
    </span>

    <span *ngIf="formAdd.name.invalid && formAdd.name.touched" class="alert alert-danger color">
      <span *ngIf="formAdd.name.errors.required">{{'ADMINISTRATIVE.DOCUMENTS.ADD.TypeRequired' | translate}}</span>
    </span>
  </div>

  <div class="ui-float-label margin-button-top min-height padding-top">
    <p-dropdown [options]="types" placeholder="{{'ADMINISTRATIVE.DOCUMENTS.ADD.TypePlaceholder' | translate}}*"
                [showClear]="true" [formControl]="formAdd.type" appendTo="body" required></p-dropdown>
    <span *ngIf="formAdd.type.invalid && formAdd.type.touched" class="alert alert-danger color">
      <span *ngIf="formAdd.type.errors.required"
            class="min-height">{{'ADMINISTRATIVE.DOCUMENTS.ADD.TypeRequired' | translate}}</span>
    </span>
  </div>

  <div class="margin-top float-right">
    <button type="button" pButton icon="pi pi-close" (click)="closeDialog()"
            label="{{'COMMON.BUTTONS.Cancel' | translate}}" class="ui-button-secondary  margin-right"></button>
    <button type="button" pButton icon="pi pi-check" [disabled]="formAdd.invalid" (click)="addItem()"
            label="{{'COMMON.BUTTONS.Create' | translate}}"></button>
  </div>
</form>
