.margin-top {
    margin-top: 25px;
}

.margin-button-top {
    margin-top: 10px;
}

.float-right {
    float: right;
}

.margin-right {
    margin-right: 10px;
}

.errorLabel {
    position: absolute;
    margin-top: -15px !important;
    right: 2%;
}

.color {
    color: red;
}

.min-height {
    height: 55px;
}

.padding-top {
    padding-top: 5px;
}

.button-width {
    width: 100%;
}