.relative {
    position: relative;
}

.margin-top {
    margin-top: 2%;
}

.footer-width-top-border {
    width: 100%;
    border-top: 1px solid grey;
}

.margin-left {
    margin-left: 2%;
}

.absolute {
    position: absolute;

}

.margin-right-b1 {
    right: 110px;
}

.margin-right-b2 {
    right: 0;
}

.inLine {
    display: inline-block;
}
