<form [formGroup]="qualifiedPersonForm">
  <div class="margin-top margin-left">
    <div class="p-grid">
      <div class="inLine p-col-12">
        <label>
          <p-radioButton name="group1" formControlName="selection" value="{{personType.INTERNAL}}"></p-radioButton>
          {{'CONTRACT.AUTHORITY.QUALIFIED_PERSONS_TABLE.internalCollaborator' | translate}}
        </label>
      </div>
    </div>
  </div>
</form>
<div class="margin-top footer-width-top-border">
  <div class="margin-top relative">
    <button type="ngSubmit" pButton icon="pi pi-check" class="absolute margin-right-b1"
            label="{{'COMMON.BUTTONS.Next' | translate}}" (click)="next()"
            [disabled]="!qualifiedPersonForm.valid"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancel()"
            label="{{'COMMON.BUTTONS.Cancel' | translate}}"
            class="absolute margin-right-b2"></button>
  </div>
</div>
