<ng-template #tableContent let-eleme="rowData">
  <td>
    {{eleme['contractId']}}
  </td>
  <td>{{eleme['contractType']}}</td>
  <td (click)="showSetStatusDialog(eleme.status)">
    {{'OVERVIEW.FILTER_COLUMN.' + eleme.status | translate}}
    <span class="ui-menuitem-icon ui-icon-edit ng-star-inserted float-right"></span>
  </td>
  <td>{{eleme['name']}}</td>
  <td>{{eleme['client']}}</td>
  <td>{{eleme['valueIncVat']}} </td>
  <td>{{eleme['startDate']}}</td>
  <td>{{eleme['endDate']}}</td>
  <td>{{eleme['procurementName']}}</td>
  <td>{{eleme['project']}}</td>
</ng-template>
<ng-template #caption>
<div class="ui-g">
  <div class="ui-g-8 centered">
    <div class="count">
      <span>{{'OVERVIEW.title'| translate}}</span><span
      class="circle">{{accessOverviewService.getTotalResults()}}</span>
    </div>
  </div>
</div>
</ng-template>
<app-generic-table-lazy [elements$]="elements" [templateRef]="tableContent" [captionTemplateRef]="caption">
</app-generic-table-lazy>


