.float-right {
  float: right;
}

.children-padding > * {
  margin: 0.5em;
}

.margin-top {
  margin-top: 1em;
}

.circle {
  margin-left: 50px;
  border-radius: 5px;
  background: inherit;
  padding: 5px 35px 5px 30px;
  width: 40px;
  height: 15px;
  font-weight: bold;
  color: white;
}

.centered {
  margin: 0 auto;
}

a.no-style:link {
  text-decoration: inherit;
  color: inherit;
}

a.no-style:visited {
  text-decoration: inherit;
  color: inherit;
}
