<ng-template #tableContent let-eleme="rowData">
  <td>{{eleme['name']}}</td>
  <td>{{eleme['address']}}</td>
  <td>{{eleme['number']}}</td>
  <td>{{eleme['postalCode']}}</td>
  <td>{{eleme['municipality']}}</td>
  <td>{{eleme['nationalId']}}</td>
</ng-template>


<ng-template #caption>
  <div class="ui-g">
    <div class="ui-g-8 centered">
      <span>{{'MENU.ADMIN_TENANT.CONTRACTING_AUTHORITIES.menuTitle' | translate}}</span>
    </div>
  </div>
</ng-template>

<app-generic-table-lazy [elements$]="elements" [templateRef]="tableContent" [captionTemplateRef]="caption">
</app-generic-table-lazy>

