<ng-template #tableContent let-organization="rowData">
  <td>{{organization['legalName']}}</td>
  <td>{{'ORGANIZATION.TYPE.' + organization['type'] | translate}}</td>
  <td>{{organization['kboNumber'] }}</td>
  <td>{{organization['basicAddress']['fullAddress']}}</td>
</ng-template>

<p-menu [model]="newOrganizationOptions" [popup]="true" #newOrganizationMenu appendTo="body"></p-menu>

<app-generic-table [buttons]="buttons" [tableConfig]="tableConfig" [columns]="cols"
  [elements$]="data" [selected$]="selected$" [templateRef]="tableContent">
</app-generic-table>
